{% extends "base.html" %}
{% load static %}
{% block content %}

<!--Digging Deeper content-->
<div class="container">
    <div class="row">

        {% for post in post_list %}
        <div class="col-12">
            <div class="card mt-2">
                {% if "..." in post.excerpt %}
                <a class="plain" href="{% url 'read_post' post.slug %}">{% endif %}
                <div class="card-title">
                    <h2 >{{ post.title }}</h2>
                </div>
                {% if post.featured_image %}
                <div class="post-image">
                    <img src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                </div>
                {% endif %}
                <div class="card-body">
                    <p class="card-text">{{ post.excerpt }}</p>{% if "..." in post.excerpt %}</a>{% endif %}
                    <hr>
                    <div id="card-footer" class="d-flex"><span class="author">{% if post.author.is_superuser %}Claude Digsby {% else %} {{ post.author }} {% endif %}</span>
                        <span class="date ms-auto">{{ post.created_on | date }}</span></div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}