{% extends "base.html" %}
{% load i18n %}
{% url 'account_login' as login_url %}

{% block head_title %}{% trans " | Sign In" %}{% endblock head_title %}

{% block body_style %}login d-flex flex-column{% endblock %}

{% block content %}
    <div class="body-container flex-fill">
        <div class="form-card card p-4">
            <h1>Sign In</h1>
    
            <p class="lead">If you do not yet have an account, please sign up 
                <a class="link" href="{{ signup_url }}?next={{ request.GET.next }}">
                here</a></p>
        
            <form method="post" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div class="form-field">
                    {{ form.login.label_tag }}<br>
                    {{ form.login }}
                    <span class="small red">{{ form.login.errors }}</span>
                </div>
                <div class="form-field">
                    {{ form.password.label_tag }}<br>
                    {{ form.password }}
                    <span class="small red">{{ form.password.errors }}</span>
                </div>
            </form>
        </div>    
    </div>
{% endblock content %}

