@import url('https://fonts.googleapis.com/css2?family=Dosis&family=PT+Mono&family=Slabo+27px&display=swap');

/*CSS Variables*/
:root {
    --brown: #261617;
    --forest: #002500;
    --light-grey: #DCE0D9;
    --dark-grey: #13171C;
    --green: #52E620;
    --brand-font: "PT mono", monospace;
    --heading-font: "Slabo 27px", serif;
    --body-font: "Dosis", sans-serif;
}

body {
    min-height: 100vh;
}

/*Navigation Menu*/
.navbar {
    background-color: var(--brown);
    color: var(--light-grey);
    font-family: var(--brand-font);
}

.navbar-brand {
    font-family: var(--brand-font);
    color: var(--light-grey);
}

.navbar-brand:hover {
    color: var(--green);
}

#logo {
    max-height: 40px;
}

.navbar-toggler {
    border: none;
    color: var(--green);
    font-size: 1.8rem;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-link {
    color: var(--light-grey);
}

.nav-link:hover {
    color: var(--green);
}

.active {
    border-bottom: 1px solid var(--green);
}

#admin-link {
    color: var(--green);
}

#admin-link:hover {
    color: var(--light-grey);
}

/*Main Content*/
main {
    margin-top: 66px;
    background-color: var(--light-grey);
    color: var(--dark-grey);
}

/*Blog Cards*/
.card {
    color: var(--dark-grey);
    background-color: #f2f4f1;
    border-radius: 0;
}

.card-title {
    font-family: var(--heading-font);
    padding: 1rem 1rem 0;
}

.card-text {
    font-family: var(--body-font);
    font-size: 1.1rem;
}

#card-footer {
    color: rgba(0, 37, 0, 0.7);
    font-family: var(--body-font);
    font-size: 0.9rem;
}

.card hr {
    margin: 0.5rem 0;
}

.date {
    display: inline-block;
    
}

/*Footer*/
footer {
    height: 40px;
    background-color: var(--brown);
}

/*Medium screens and up*/
@media screen and (min-width: 768px) {
    .card {
        max-width: 80%;
        margin: 0 auto 0;
    }
}

/*XL screens and up*/
@media screen and (min-width: 1200px) {
    .card {
        max-width: 60%;
    }
}