@import url('https://fonts.googleapis.com/css2?family=Italiana&family=PT+Mono&family=Slabo+27px&display=swap');

/*CSS Variables*/
:root {
    --brown: #261617;
    --forest: #002500;
    --light-grey: #DCE0D9;
    --dark-grey: #13171C;
    --green: #52E620;
    --brand-font: "PT mono", monospace;
    --heading-font: "Italiana", sans-serif;
    --body-font: "Slabo 27px", serif;
}

body {
    min-height: 100vh;
}

.navbar {
    background-color: var(--brown);
    color: var(--light-grey);
    font-family: var(--brand-font);
}

.navbar-brand {
    font-family: var(--brand-font);
    color: var(--light-grey);
}

.navbar-brand:hover {
    color: var(--green);
}

#logo {
    max-height: 40px;
}

.navbar-toggler {
    border: none;
    color: var(--light-grey);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-link {
    color: var(--light-grey);
}

.nav-link:hover {
    color: var(--green);
}

.active {
    border-bottom: 1px solid var(--green);
}

#admin-link {
    color: var(--green);
}

#admin-link:hover {
    color: var(--light-grey);
}

main {
    margin-top: 66px;
    background-color: var(--light-grey);
    color: var(--dark-grey);
}

footer {
    height: 40px;
    background-color: var(--brown);
}
