{% extends "base.html" %}
{% load static %}
{% block content %}

<!--Digging Deeper content-->
<div class="container">
    <div class="row">
        {% if user.is_authenticated %}
        <button class="btn btn-primary" popovertarget="post-form">Create Post</button>
        <div id="post-form" popover="auto">
            <form method="POST" action="{% url 'diggit_forum' %}">
                {% csrf_token %}
                <h3>Create post</h3>
                <p>You are posting as {{ user.username }}</p>
                <div class="form-field">
                    {{ post_form.title.label_tag }}
                    {{ post_form.title }}
                <span class="small red">{{ post_form.title.errors }}</span></div>
                <div class="form-field">
                    {{ post_form.content.label_tag }}
                    {{ post_form.content }}
                    <span class="small red">{{ post_form.content.errors }}</span>
                </div>
                <div class="form-field">
                    {{ post_form.featured_image.label_tag }}
                    {{ post_form.featured_image }}
                    <span class="small red">{{ post_form.featured_image.errors }}</span>
                </div>
                <button class="btn btn-primary" type="submit">Save</button>
                <button class="btn btn-primary" popovertarget="post-form" popovertargetaction="hide" type="button">Cancel</button>               
            </form>
        </div>
        {% endif %}

        {% for post in post_list %}
        <div class="col-12">
            <div class="card mt-2">
                {% if "..." in post.excerpt or post.comment_count > 1 %}
                <a class="plain" href="{% url 'read_post' post.slug %}">{% endif %}
                    <div class="card-title">
                        <h2>{{ post.title }}</h2>
                    </div>
                    {% if post.featured_image %}
                    <div class="post-image">
                        <img src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                    </div>
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">{{ post.excerpt | linebreaks }}</p>
                        <div id="card-footer" class="d-flex"><span class="author">{% if post.author.is_superuser %}
                                Claude Digsby {% else %} {{ post.author }} {% endif %}</span>
                            <span class="date ms-auto">{{ post.created_on | date }}</span>
                        </div>
                        <hr>
                        {% if post.comment_count != 0 %}
                        <div class="comment">
                            <p class="small">{{ post.comment_count }} Comments</p>
                            <p class="small">On {{ post.first_comment.created_on | date }}
                                {{ post.first_comment.author.username }} wrote:</p>
                            <p class="comment-body">{{ post.first_comment.content }}</p>
                        </div>{% if "..." in post.excerpt or post.comment_count > 1 %}
                </a>{% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}