{% extends "base.html" %}
{% load static %}

{% block content %}

<!--Single post-->
<div class="single-post">
    <div>
        <h1 id="post-title">{{ post.title }}</h1>
        <div id="details" class="d-flex">
            <p>{% if post.author.is_superuser %}Claude
                Digsby {% else %} {{ post.author }} {% endif %} | {{ post.created_on | date }}</p>
        </div>
    </div>
    {% if post.featured_image %}
    <div class="post-image-feature">
        <img src="{{ post.featured_image.url }}" alt="{{ post.title }}">
    </div>
    {% endif %}
    <div class="content">
        <p id="post-content">{{ post.content | linebreaks }}</p>
    </div>
    <a class="btn back-btn" href="{% url 'digging_deeper' %}">Back</a>
</div>


{% endblock %}