/*--------------------Navbar Buttons*/
.navbar-toggler {
    border: none;
    color: var(--green);
    font-size: 1.2rem;
}

.navbar-toggler:focus { 
    box-shadow: none; /*Remove Bootstrap effects*/
}

/*-------------------Form Buttons*/
.submit-btn {
    background-color: var(--green);
    border: none;
    border-radius: 5px;
}

.submit-btn:hover {
    background-color: transparent;
    border: 2px solid var(--green);
    padding: 4px 10px;
}

.card-btn {    
    padding: 4px;
}

.btn-dk-grn {
    background-color: var(--forest);
    color: var(--light-grey);
    border-radius: 5px;
}

.btn-dk-grn:hover {
    background-color: var(--forest);
    color: var(--green);
}

.post-btn {
    width: 200px;
    display: block;
    margin: 0 auto;   
}

.like-btn, .text-btn {
    border: none;
    background-color: transparent;
    color: var(--dark-grey);
}

.like-btn:hover, .text-btn:hover {
    color: #00aa00;;
}

.back-btn {
    background-color: var(--forest);
    color: var(--light-grey);
    display: block;
    max-width: 150px;
}

.back-btn:hover {
    color: var(--green);
    background-color: var(--forest);
    font-weight: bold;
}
